<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="proyecto_HADS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HADS16ConnectionString" connectionString="Data Source=tcp:jinma2.database.windows.net,1433;Initial Catalog=HADS16;Persist Security Info=True;User ID=jinma;Password=Ratagorda0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="autorizacion" loginUrl="Inicio.aspx"/>
    </authentication>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <applicationSettings>
    <proyecto_HADS.My.MySettings>
      <setting name="proyecto_HADS_matriculas_Matriculas" serializeAs="String">
        <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
      <setting name="proyecto_HADS_coordinador_coordinador" serializeAs="String">
        <value>http://hads16-ji.azurewebsites.net/coordinador.asmx</value>
      </setting>
    </proyecto_HADS.My.MySettings>
  </applicationSettings>
</configuration>